<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GLU_ID_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GLU_ID_Generator.Properties.Settings.dbDRConnectionString"
            connectionString="Data Source=JED-PC\GLUINVENTORY;Initial Catalog=dbDR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GLU_ID_Generator.Properties.Settings.DBEmployeeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBEmployee.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <GLU_ID_Generator.Properties.Settings>
            <setting name="path" serializeAs="String">
                <value>C:\MyFile\DTRVIEW.PDF</value>
            </setting>
            <setting name="biopath" serializeAs="String">
                <value>C:\MyFile\DTRVIEW.PDF</value>
            </setting>
            <setting name="esender" serializeAs="String">
                <value>markjed92@gmail.com</value>
            </setting>
            <setting name="esenderpass" serializeAs="String">
                <value>jlcjed1998</value>
            </setting>
            <setting name="smtpserver" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="portnumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="signature" serializeAs="String">
                <value>&lt;strong&gt;&lt;font face="Tahoma" size="2px" color="#898988"&gt;Jed R. Zerna&lt;/font&gt;&lt;/strong&gt;&lt;br&gt;&lt;br&gt;&lt;strong&gt;&lt;font face="Sans Serif" size="2px" font-weight="Bold" color="#016601"&gt;G. Uymatiao Jr. Construction&lt;/font&gt;&lt;/strong&gt;&lt;br&gt;&lt;font face="Tahoma" size="1px" color="#898988"&gt;49 Sta. Catalina St., Dumaguete City&lt;/font&gt;&lt;br&gt;&lt;font face="Tahoma" size="1px" color="#898988"&gt;Tel. No. (035) 225-4717; (035) 422-7677&lt;/font&gt;&lt;br&gt;&lt;font face="Tahoma" size="1px" color="#898988"&gt;Telefax No. (035) 225-3333&lt;/font&gt;&lt;br&gt; &lt;font face="Tahoma" size="1px" color="#898988"&gt;Mobile (0998) 230-9589&lt;/font&gt;
</value>
            </setting>
            <setting name="ssl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="attachment" serializeAs="String">
                <value>C:\Users\Jed Zerna\Desktop\Biometric</value>
            </setting>
            <setting name="pathCon" serializeAs="String">
                <value>C:\Users\Jed Zerna\source\repos\GLU ID Generator\GLU ID Generator</value>
            </setting>
            <setting name="pspath" serializeAs="String">
                <value />
            </setting>
            <setting name="dbcon" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\DBEmployee.mdf;Integrated Security=True</value>
            </setting>
        </GLU_ID_Generator.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
